.tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2a2e32;
}

.tab button {
  background-color: #2a2e32;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #3bc9db;
  border: none;
  padding: 3rem 3rem;
  cursor: pointer;
}
.tab button:hover,
.tab button.active {
  background-color: #212529;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent .planets {
  padding: 9.6rem 0;
}

.tabcontent .planet-content {
  padding: 3.2rem;
}
.tabcontent .planet-content .name {
  font-size: 2rem;
}
.tabcontent .planet-attributes li {
  font-size: 1.5rem;
}

.tabcontent .planet-img {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
  background-color: rgba(25, 25, 25, 0.5); /* Semi-transparent white */
  backdrop-filter: blur(5px); /* Blurs the content behind the overlay */
}
.planet-img:hover .overlay {
  opacity: 1;
}

.cart-icon {
  color: #c5f6fa;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.cart-icon:hover {
  color: #3bc9db;
  cursor: pointer;
  transition: 0.2s;
}
.cart-icon:active {
  color: #38d9a9;
}

/* -------------------- Search bar -------------------- */
.search-container {
  padding: 3rem 0 0 0;
  display: grid;
  justify-items: end;
}
.search-form {
  display: flex;
  gap: 1rem;
}
.search-bar {
  justify-self: flex-end;
}
.search-icon-container {
  border: none;
  background-color: inherit;
}
.search-icon {
  color: #3bc9db;
  height: 4.5rem;
  width: 4.5rem;
}
.search-icon:hover {
  color: #c5f6fa;
  cursor: pointer;
  transition: 0.2s;
}
.search-icon:active {
  color: #38d9a9;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  z-index: 99;
  backdrop-filter: blur(8px);
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #2a2e32;
  font-size: 1.6rem;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #2a2e32;
  backdrop-filter: blur(8px);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #2a2e32;
}
.matching_initial {
  font-weight: bold;
  color: #3bc9db;
}
/* -------------------- Shoping list -------------------- */
.shoping-list-cart {
  height: 4rem;
  width: 4rem;
  color: #3bc9db;
  transition: 300ms;
}
.shoping-list-cart:hover,
.shoping-list-cart:active {
  color: #c5f6fa;
  cursor: pointer;
}
.shoping-list {
  position: relative;
  display: inline-block;
}
.shoping-items {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 3px 3px 1px rgba(255, 255, 255, 0.05);
  z-index: 1;
  min-width: 20rem;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
}
.shoping-list:hover .shoping-items {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  row-gap: 2rem;
  padding: 1rem 1rem 2rem 3rem;
}
.planet-thumbnail {
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
}
.planet-thumbnail-name {
  color: #3bc9db;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  align-items: center;
  justify-self: center;
}
.planet-thumbnail-details {
  display: flex;
  gap: 0.5rem;
  margin: 1rem auto;
  justify-content: center;
}
.planet-thumbnail-increase,
.planet-thumbnail-decrease {
  transition: 200ms;
  height: 1.8rem;
  width: 1.8rem;
}
.planet-thumbnail-increase:hover,
.planet-thumbnail-decrease:hover {
  cursor: pointer;
  color: #c5f6fa;
  height: 2.2rem;
  width: 2.2rem;
}
.planet-thumbnail-quantity {
  display: flex;
  align-items: center;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
